bat
brotli
c-ares
ca-certificates
fd
fzf
gettext
icu4c@76
libevent
libgit2
libnghttp2
libssh2
libunistring
libuv
libvterm
lpeg
luajit
luv
msgpack
ncurses
neovim
node
oniguruma
openssl@3
pcre2
readline
ripgrep
sqlite
tmux
tree-sitter
unibilium
utf8proc
xz
yank
zlib
